numpy==1.23.5             # For numerical operations
matplotlib==3.6.2         # For plotting and saving PCA component images
scikit-learn==1.2.0       # For PCA
opencv-python==4.6.0.66   # For resizing images in stitching
pyyaml==6.0               # For reading configuration from config.yaml
